.profile_bg{
  width: 100%;
  height: 100vh;
  background-size: cover;
  display: flex;

  .profile_nav{
    width: 70px;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;

    .profile_nav_btn{
      transform: rotate(180deg);
    }
  }

  .profile_content{
    width: calc(100% - 70px);
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    .profile_changeicon{
      width: 150px;
      height: 150px;
      background-size: 150px 150px;

      .profile_changeicon_text{
        width: 150px;
        height: 150px;
        background: black;
        color: white;
        font-family: 'Pixel';
        display: none;
        align-items: center;
        justify-content: center;
        cursor: pointer;
      }

      &:hover .profile_changeicon_text{
        display: flex;
      }
    }

    .profile_inputs{
      height: 235px;
      margin-top: 50px;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }

    .profile_btns{
      margin-top: 40px;
      display: flex;

      #profile_btn_changeData{
        width: 230px;
        height: 50px;
        margin-right: 42px;
        font-size: 12px;
      }
      #profile_btn_changePassword{
        width: 230px;
        height: 50px;
        font-size: 12px;
      }
    }
  }

  .changeIcon{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: rgba(0, 0, 0, 0.67);

    .changeIcon_content{
      width: 500px;
      height: 300px;
      position: absolute;
      left: calc(50% - 500px / 2);
      top: 200px;
      display: flex;
      align-items: center;
      justify-content: center;
      flex-direction: column;

      .changeIcon_text{
        margin-bottom: 30px;
        font-family: 'Pixel';
        color: white;
      }

      #changeIcon_btn_save{
        width: 230px;
        height: 50px;
        margin-top: 30px;
      }
    }
  }
}